@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wdth,wght@12..96,75..100,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--bg-color-primary);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.waitlist-logo {
  text-align: center;
  margin-top: var(--gutter-large);
  margin-bottom: var(--padding-medium);
}

.waitlist-logo img {
  width: 250px;
  margin-bottom: var(--padding-medium);
}

/* Content Styling */
.waitlist-content {
  text-align: center;
}

.waitlist-content h2 {
  font-family: 'Bricolage Grotesque', sans-serif;
  font-size: var(--h2);
  margin-bottom: var(--padding-small);
}

.waitlist-content p {
  font-size: var(--text-large);
  margin-bottom: var(--padding-medium);
}

/* Form Styling */
.waitlist-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-group {
  margin-bottom: var(--padding-small);
}

.email-input {
  width: 300px;
  padding: var(--padding-small);
  border: 1px solid var(--border);
  border-radius: var(--radius-small);
  font-size: var(--text-medium);
}

.join-btn {
  background-color: var(--color-primary);
  color: var(--color-light);
  padding: var(--padding-medium) var(--gutter-medium);
  border: none;
  border-radius: var(--radius-large);
  font-weight: bold;
  font-size: var(--text-large);
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.join-btn:hover {
  background-color: var(--color-hover-dark);
}

footer {
  background-color: var(--color-dark);
  color: var(--color-light);
  text-align: center;
  padding: var(--gutter-medium);
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
}

footer p {
  margin: 0;
  font-size: var(--text-small);
}
