@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wdth,wght@12..96,75..100,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styling */
body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--bg-color-primary);
  color: var(--text-color);
}

/* Navbar Styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--gutter-small) var(--gutter-medium);
  background-color: var(--color-light);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo img {
  width: 140px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: var(--gutter-medium);
}

.nav-links li a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  font-family: 'Bricolage Grotesque', sans-serif;
  font-size: var(--text-medium);
  transition: color 0.3s ease-in-out;
}

.nav-links li a:hover {
  color: var(--color-accent);
}

/* Auth buttons (Login/Register) */
.auth-buttons {
  display: flex;
  gap: var(--padding-medium);
}

.auth-buttons a {
  text-decoration: none;
  padding: var(--padding-small) var(--padding-medium);
  border-radius: var(--radius-large);
  font-weight: bold;
  font-size: var(--text-medium);
  transition: all 0.3s ease-in-out;
}

.auth-buttons a.btn-login {
  background-color: var(--color-accent);
  color: var(--color-light);
}

.auth-buttons a.btn-register {
  background-color: var(--color-secondary);
  color: var(--color-light);
}

.auth-buttons a:hover {
  background-color: #AE3A6D;
}

/* Fullscreen Image */
.fullscreen-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin-bottom: var(--gutter-huge);
}

.fullscreen-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Section Styling */
.section {
  padding: var(--gutter-huge);
  margin: var(--gutter-large) 0;
  text-align: center;
}

/* About Section Styling */
#about h2, #waitlist h2 {
  font-size: var(--h2);
  font-family: 'Bricolage Grotesque', sans-serif;
  margin: var(--gutter-large);
  margin-bottom: var(--gutter-medium);
  gap: var(--gutter-huge);
}

#about p, #waitlist a {
  font-size: var(--text-large);
  font-family: 'Montserrat', sans-serif;
}

/* Team Section Styling */
#team h2, #waitlist h2 {
  font-size: var(--h2);
  font-family: 'Bricolage Grotesque', sans-serif;
  margin-bottom: var(--gutter-medium);
}

.team-cards {
  display: flex;
  justify-content: center;
  gap: var(--gutter-medium);
  padding: var(--padding-small);
}

.card {
  background-color: var(--bg-color-secondary);
  border-radius: var(--radius-small);
  padding: var(--padding-small);
  width: 450px;
  height: 250px;
  box-shadow: var(--shadow-light);
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card h3, .card p {
  display: inline-block;
  margin-right: var(--padding-small);
}

.card .info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--padding-small);
}

.card img {
  width: 100px;
  height: 100px;
  display: flex;
  border-radius: 50%;
  margin-bottom: var(--padding-small);
  box-shadow: var(--shadow-light);
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

/* Waitlist Button */
.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-light);
  padding: var(--padding-medium) var(--gutter-medium);
  border-radius: var(--radius-large);
  font-weight: bold;
  font-size: var(--text-large);
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.btn-primary:hover {
  background-color: var(--color-hover-dark);
  transform: scale(1.05);
}

/* Footer */
footer {
  background-color: var(--color-dark);
  color: var(--color-light);
  text-align: center;
  padding: var(--gutter-medium);
}
